<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinkBnB</title>
  </head>
  <body>
    <h1>Your requests</h1>
    <div>
      <div>
        <%= flash[:notice] %>
      </div>
      <div>
        <% @spaces.each do |space| %>
          <h4>Name: <%= space.name %></h4>
          <label>Date</label><%= @requests[@spaces.index(space)].date %>
          <form action="/requests/approve/<%= @requests[@spaces.index(space)].id %>" method="post">
            <input type="text" name="request_id" value="<%= @requests[@spaces.index(space)].id %>" hidden>
            <input type="hidden" name="_method" value="PATCH">
            <button type="submit">Approve</button>
          </form>
        <% end %>
      </div>
    </div>
  </body>
</html>
