<% if @user %>
<%= "Welcome back" %>
<% end %>

<% @spaces.each do |space| %>
  Name: <%= space.name %><br>
  Description: <%= space.description %><br>
  Price per night: <%= space.price %><br>
  <% @possible_hosts.each do |host| %>
    <% if host.id == space.user_id %>
    Host: <%= host.username %>
    <% end %>
  <% end %>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Logout">
</form>

<form action="/space/new">
  <input type="submit" value="Add space">
</form>
