<% if @user %>
<%= "Welcome back" %>
<% end %>

<% @spaces.each do |space| %>
  Name: <%= space.name %><br>
  Description: <%= space.description %><br>
  Price per night: <%= space.price %><br>
  Host: <%= @user.username %>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Logout">
</form>

<form action="/space/new">
  <input type="submit" value="Add space">
</form>
