<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>PinkBnB</title>
  </head>

  <body>
  <%= flash[:notice] %>
  <div>
    <% if @user %>
      <h1>Where do you want to stay, <%= @user.name.capitalize %>?</h1>
    <% end %>
  </div>

  <div>

    <form action="/requests/approve">
      <input type="submit" value="Review requests">
    </form>

    <% @spaces.each do |space| %>
      <h4>Name: <%= space.name %></h4>
      <p>Description: <%= space.description %></p>
      <p>Price per night: <%= space.price %></p>
      <% @possible_hosts.each do |host| %>
        <% if host.id == space.user_id %>
        <p>Host: <%= host.username %></p>
        <% end %>
      <% end %>
      <p>Available from: <%= Date.parse(space.start_date).strftime("%-d %B %Y") %></p>
      <p>Available until: <%= Date.parse(space.end_date).strftime("%-d %B %Y") %></p>

      <form action="/requests" method="post">
        <input type="text" name="space_id" value="<%= space.id %>" hidden>
        <input type="submit" value="Request">
      </form>
      <% end %>

  </div>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Logout">
  </form>

  <form action="/spaces/new">
    <input type="submit" value="Add space">
  </form>

  </body>
</html>
