<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>PinkBnB</title>
  </head>

  <body>
  <%= flash[:notice] %>
  <div class="welcome">
    <% if @user %>
      <h1>Where do you want to stay, <%= @user.name.capitalize %>?</h1>
    <% end %>
  </div>

  <div class="space-index">

  <div>
    <% @spaces.each do |space| %>
      <h4>Name: </h4> <div class="space-attributes"><%= space.name %></div>
      <h4>Description: </h4> <div class="space-attributes">
        <%= space.description %></div>
      <h4>Price per night: </h4><div class="space-attributes">
      <%= space.price %></div>
      <% @possible_hosts.each do |host| %>
        <% if host.id == space.user_id %>
        <h4>Host: </h4> <div class="space-attributes">
        <%= host.username %></div>
        <% end %>
      <% end %>
      <h4>Available from: </h4><div class="space-attributes">
        <%= Date.parse(space.start_date).strftime("%-d %B %Y") %>
      </div>
      <h4>Available until: </h4> <div class="space-attributes">
        <%= Date.parse(space.end_date).strftime("%-d %B %Y") %></div>

      <form action="/requests" method="post">
        <input type="text" name="space_id" value="<%= space.id %>" hidden>
        <input type="submit" value="Request">
      </form>
      <% end %>

  </div>

  </div>

  <div class="add-space-logout">

  <form action="/spaces/new">
    <input type="submit" value="Add space">
  </form>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Logout">
  </form>

  </div>

  </body>
</html>
